<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>

    <title>My app</title>
</head>
<body>
    <div class="content">
        <h1>Inventory</h1>
        <table>
            <tr>
                <th>Item</th>
                <th>Box</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <td>item1</td>
                <td>box1</td>
                <td>numbers</td>
            </tr>
        </table>
        <form action="">
            <label>Item:
                <input type="text" name="item" id="item" />
            </label>
            <label>Box:
                <input type="text" name="box" id="item" />
            </label>
            <label>Quantity:
                <input type="text" name="quantity" id="quantity" />
            </label>
            <input type="submit" value="Add item" id="btn_Add" />
    </div>
    
</body>
</html>